<div>
  <h1> Seção referente a quantidade de dados coletados </h1>

  <div>
    <h3> Quantidade de medidas coletadas por gradeza por dia </h3>

    <% series_by_day = [
      {name: 'quantidade de medidas de temperatura', data: @temperature_measurements_grouped_by_day},
      {name: 'quantidade de medidas de umidade', data: @humidity_measurements_grouped_by_day},
      {name: 'quantidade de medidas de pH', data: @ph_measurements_grouped_by_day}
    ] %>

    <% options_by_day = {
      title: 'Quantidade de medidas coletadas por grandeza',
      subtitle: 'Melhor visualização de como estão os equipamentos',
      xtitle: 'Week',
      ytitle: 'Properties',
      stacked: true
    } %>

    <%= bar_chart(series_by_day, {**options_by_day, theme: 'palette7'}) %>
  </div>

  <div>
    <h3> Quantidade de medidas coletadas nos últimos 2 meses por grandeza </h3>

    <% pie_series = @quantities_of_measurements_collected.map { |key, value| { name: key, data: value } }%>
    <%= pie_chart(pie_series, legend: 'right') %>
  </div>
</div>
