<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<div style="text-align: center;">
  <%= render 'graphics/instrument/measurements/individual_measurements' %>
  <%= render 'graphics/instrument/measurements/quantities_of_measurements_collected' %>
</div>
