<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<body>
  <div style='text-align: center; margin: 5%;'>
    <%= render 'graphics/instrument/measurements/individual_measurements' %>
    <%= render 'graphics/instrument/measurements/quantities_of_measurements_collected' %>
  </div>
</body>
